# OSX
.DS_Store

# Python
__pycache__/
*.pyc
*.brainbox.egg-info
brainbox.egg-info/
brainbox/brainbox.egg-info/
dist

# PyCharm
.idea

# Jupyter Notebook
.ipynb_checkpoints
notebooks/data/rf_fits
notebooks/data/tuning